<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fahmi.moch.quizceria">

    <application
        android:allowBackup="true"
        android:icon="@drawable/internet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".LearnActivity" />
        <activity android:name=".PracticeActivity" />
        <activity android:name=".ScoreActivity" />
        <activity android:name=".PilihActivity" />
        <activity android:name=".Practice2Activity" />
        <activity android:name=".Practice3Activity" />

        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>